<%= render "navbar" %>
	
<div class="container">

	<div class="text-center">
		<h1>Recommended daily calorie intake: <%= mifflin_stjeor(@user) %> calories/day</h1> 
	</div>
	<ul>
		<li>This page shows the number of calories you should consume per day based on the St Jeor equation. It also displays a sample diet based on that number of calories. If you’re unsatisfied with the current plan, click the refresh button to get a new one.</li>
	</ul>
	<br /> <br />
	
	<div class="text-center">
		<h1>Sample Diet Plan</h1>
	</div>
	<table class="text-center" align="center">
  <thead>
    <tr>
    	<th></th>
      <th>Food</th>
      <th>Serving Size</th>
      <th>Calories</th>
    </tr>
  </thead>
  
	<tbody>
			<th>Breakfast</th>
    		<tr>
    			<td><%= breakfast_sample_diet(@user) %></td>
   	    	<td><%= simple_format get_breakfast_diet_names() %></td>
   	    	<td><%= simple_format get_breakfast_diet_serving_sizes() %></td>
   	    	<td><%= simple_format get_breakfast_diet_calories() %> </td>
   	    </tr> 
			<th>Lunch</th>
    		<tr>
    			<td></td>
   	    	<td><%= simple_format get_lunch_diet_names() %></td>
   	    	<td><%= simple_format get_lunch_diet_serving_sizes() %></td>
   	    	<td><%= simple_format get_lunch_diet_calories() %> </td>
   	    </tr>
			<th>Dinner</th>
    		<tr>
    			<td></td>
   	    	<td><%= simple_format get_dinner_diet_names() %></td>
   	    	<td><%= simple_format get_dinner_diet_serving_sizes() %></td>
   	    	<td><%= simple_format get_dinner_diet_calories() %> </td>
   	    </tr>
    		<tr>
    			<td></td>
   	    	<td></td>
   	    	<td></td>
   	    	<td><%= get_calorie_sum() %></td>
   	    </tr>
  </tbody>
</table>

<button class="btn btn-primary" onClick="window.location.reload();"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
	
</div>

<%= link_to 'Edit', edit_user_path(@user),{ :class=>"btn btn-primary" } %>
