<%= render "navbar" %>
	
<div class="container">
	Recommended number of calories to consume per day: <%= mifflin_stjeor(@user) %>
	
	<table class="text-center">
  <thead>
    <tr>
    	<th></th>
      <th>Food</th>
      <th>Serving Size</th>
      <th>Calories</th>
    </tr>
  </thead>
  
	<tbody>
		<tr>
			<th>Breakfast</th>
    	<% Food.where("food_type = 'breakfast'").find_each do |food| %>
    		<tr>
    			<td></td>
   	    	<td><%= food.name %></td>
   	    	<td><%= food.serving_size %></td>
   	    	<td><%= food.calories %></td>
   	    </tr>
    	<% end %>
  	</tr>
    

		<tr>
			<th>Lunch</th>
    	<% Food.where("food_type = 'lunch&dinner'").find_each do |food| %>
    		<tr>
    			<td></td>
   	    	<td><%= food.name %></td>
   	    	<td><%= food.serving_size %></td>
   	    	<td><%= food.calories %></td>
   	    </tr>
    	<% end %>
  	</tr>
    
		<tr>
			<th>Dinner</th>
    	<% Food.where("food_type = 'lunch&dinner'").find_each do |food| %>
    		<tr>
    			<td></td>
   	    	<td><%= food.name %></td>
   	    	<td><%= food.serving_size %></td>
   	    	<td><%= food.calories %></td>
   	    </tr>
    	<% end %>
  	</tr>
  </tbody>
</table>
	
</div>

<%= link_to 'Edit', edit_user_path(@user),{ :class=>"btn btn-primary" } %>
